<div class="partialBg">
  <br /><br /><br />
    <div class='container'>
      <div class='row'>
        <div class='m12 page-wrap'>
          <div id="login">
            <h1 class="center">Login</h1>

            <%= form_tag login_path do %>
              <p>Username: <%= text_field_tag :username %></p>
              <p>Password: <%= password_field_tag :password %></p>
              <p><%= submit_tag "Submit", class: "btn light-green accent-4"  %></p>
            <% end %>
            <br />
            <p>Don't have an account? <%= link_to 'Click here', new_user_path %> to signup</p>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  <br />
</div>



