<div class='container'>
  <div class='row'>
    <div class='m12 m4 l4'>
      <h3 class="center grey-text text-lighten-5 blogs">Your comment</h3>
      <div class="card">
        <div>
          <h5 class="big-padding">
            In the album, "<%= "#{@observation.album.title}" %>", <strong> <%= @observation.user.full_name %></strong> said, "<%="#{ @observation.body }"%>"
            <% unless @observation.photo.description.empty? || @observation.photo.description.nil? %>
              on the photo, "<%= "#{@observation.photo.description}" %>"
            <% end %>
            by <%= "#{@observation.album.user.full_name}"%>
          </h5>
        </div>
      </div>

      <div class="card big-padding">
        <div class="row">
          <div class="col s12 m2 l2">
            <%= link_to 'Edit', edit_observation_path(:user_id => @observation.user, :album_id => @observation.album, :photo_id => @observation.photo), class: "waves-effect waves-light btn light-green accent-4  left little-margin-top side-margin-left" if @observation.user_id == @current_user.id %>
          </div>
          <div class="col s12 m2 l2">
            <%= link_to 'Back', @observation.photo, class: "waves-effect waves-light btn light-green accent-4 left little-margin-top side-margin-left" %>
          </div>
          <div class="col s12 m4 offset-m4 l3 offset-l5">
            <%= link_to 'Delete Comment', @observation, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn deep-orange accent-3 big-margin-right left little-margin-top side-margin-left side-margin-right" if @observation.user_id == @current_user.id %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
