<div class='container'>
  <div class='row'>
    <div class='m12 m4 l4'>
      <h1 class="grey-text text-lighten-5 blogs center">Blogs</h1>
      <hr class="grey-text text-lighten-5">
      <br />
      <% if @current_user.blogs.empty? %>
        <div class="card big-padding">
          <h4 class="blue-text">You appear to not have a blog or made any posts yet...</h4>
          <%= link_to 'New Blog', new_blog_path, class: "waves-effect waves-light btn light-green accent-4" %>
          <br /><br />
        </div>
        <br />
      <% end %>

      <% unless @current_user.blogs.empty? %>
        <% @current_user.blogs.each do |blog| %>
          <%= link_to blog do %>
            <div>
              <ul class="collection">
                <li class="collection-item avatar">
                  <%= image_tag blog.user.image.url(:thumb), class: "circle" %>
                  <h2 class="bigger little-margin album arimo-font"><%= blog.title %></h2>
                  <div class="album">
                    <p><%= blog.description %></p>
                    <p><%= blog.user.full_name %></p>
                  </div>
                  <i class="material-icons secondary-content">format_align_left</i>
                </li>
              </ul>
            </div>
            <br />
          <% end %>
        <% end %>
      <% end %>
      <% @current_user.users_friends_blogs.each do |blog| %>
        <%= link_to blog do %>
          <div>
            <ul class="collection">
              <li class="collection-item avatar">
                <%= image_tag blog.user.image.url(:thumb), class: "circle"%>
                <h2 class="arimo-font bigger little-margin album"><%= blog.title %></h2>
                <div class="album">
                  <p><%= blog.description %></p>
                  <p><%= blog.user.full_name %></p>
                </div>
                <i class="material-icons secondary-content">format_align_left</i>
              </li>
            </ul>
          </div>
          <br />
        <% end %>
      <% end %>

      <% unless @current_user.blogs.empty? %>
        <div class="card">
          <br />
            <%= link_to 'New Blog', new_blog_path, class: "waves-effect waves-light btn light-green accent-4 side-margin-left" %>
          <br /><br />
        </div>
      <% end %>
    </div>
  </div>
</div>
