<div class='container'>
  <div class='row'>
    <div class='m12'>
      <h1 class="grey-text text-lighten-5 blogs center">Blogs</h1>
      <hr class="grey-text text-lighten-5">
      <br />
      <% unless @current_user.blogs.empty? %>
        <% @current_user.blogs.each do |blog| %>
          <%= link_to blog do %>
            <div>
              <ul class="collection">
                <li class="collection-item avatar">
                  <%= image_tag blog.user.image.url(:thumb), class: "circle"%>
                  <h2 class="pacifico-font bigger little-margin"><%= blog.title %></h2>
                  <p><%= blog.description %></p>
                  <p class="pacifico-font"><%= blog.user.full_name %></p>
                  <i class="material-icons secondary-content">format_align_left</i>
                </li>
              </ul>
            </div>
            <br />
          <% end %>
        <% end %>
      <% end %>
      <% @current_user.users_friends_blogs.each do |blog| %>
        <%= link_to blog do %>
          <div>
            <ul class="collection">
              <li class="collection-item avatar">
                <%= image_tag blog.user.image.url(:thumb), class: "circle"%>
                <h2 class="pacifico-font bigger little-margin"><%= blog.title %></h2>
                <p><%= blog.description %></p>
                <p class="pacifico-font"><%= blog.user.full_name %></p>
                <i class="material-icons secondary-content">format_align_left</i>
              </li>
            </ul>
          </div>
          <br />
        <% end %>
      <% end %>

      <br />
      <% if @current_user.blogs.empty? %>
        <div class="card amber lighten-5 center">
          <h4>You appear to not have a blog or made any posts yet...</h4>
          <br />
            <%= link_to 'New Blog', new_blog_path, class: "waves-effect waves-light btn light-green accent-4" %>
          <br /><br />
        </div>
      <% else %>
        <div class="card amber lighten-5 center">
          <br />
            <%= link_to 'New Blog', new_blog_path, class: "waves-effect waves-light btn light-green accent-4" %>
          <br /><br />
        </div>
      <% end %>
    </div>
  </div>
</div>
