<div class="aboutbg">
  <br />
  <div class='container'>
    <div class='row'>
      <div class='m12'>
        <h1 class="grey-text text-lighten-5 blogs center">Blogs</h1>
        <br />
          <% if @current_user.blogs.empty? %>
            <div>
              <h4>You appear to not have a blog or made any posts yet</h4>
            </div>
          <% end %>

          <% if !@current_user.blogs.empty? || !@current_user.users_friends_blogs.empty? %>

          <% end %>

            <% unless @current_user.blogs.empty? %>
              <% @current_user.blogs.each do |blog| %>
                <%= link_to blog do %>
                  <div>
                    <ul class="collection">
                      <li class="collection-item avatar">
                        <%= image_tag blog.user.image.url(:thumb), class: "circle"%>
                        <h2 class="pacifico-font bigger little-margin"><%= blog.title %></h2>
                        <p><%= blog.description %></p>
                        <p class="pacifico-font"><%= blog.user.full_name %></p>
                        <i class="material-icons secondary-content">format_align_left</i>
                      </li>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            <% end %>
              <% @current_user.users_friends_blogs.each do |blog| %>
                <%= link_to blog do %>
                  <div>
                    <ul class="collection">
                      <li class="collection-item avatar">
                        <%= image_tag blog.user.image.url(:thumb), class: "circle"%>
                        <h2 class="pacifico-font bigger little-margin"><%= blog.title %></h2>
                        <p><%= blog.description %></p>
                        <p class="pacifico-font"><%= blog.user.full_name %></p>
                        <i class="material-icons secondary-content">format_align_left</i>
                      </li>
                    </ul>
                  </div>
                <% end %>
              <% end %>


          <br />
          <div class="card amber lighten-5 center">
            <br />
              <%= link_to 'New Blog', new_blog_path, class: "waves-effect waves-light btn light-green accent-4" %>
            <br /><br />
          </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
