
<p>
  <strong>Blog:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>By:</strong>
  <%= @blog.user.full_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog.description %>
</p>

<h4>Posts for <%= @blog.title %></h4>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to( "#{post.title}", post ) %></td>
        <td><%= link_to( "#{post.body}", post ) %></td>
        <td><%= link_to( "#{post.comments.count}", post )%></td>
        <td><%= link_to( "#{post.created_at}", post ) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', blogs_path %> |
<%= link_to 'New Post', new_post_path(:blog_id => @blog, :user_id => @blog) %> |
<%= link_to 'Edit Blog', edit_blog_path(@blog.id) if @blog.user_id == @current_user.id %> |
<%= link_to 'Delete Blog', @blog, method: :delete, data: { confirm: 'Are you sure?' } if @blog.user_id == @current_user.id %>
