<div class='container'>
  <div class='row'>
    <div class='m12'>

        <p>
          <strong>Blog:</strong>
          <%= @blog.title %>
        </p>

        <p>
          <strong>By:</strong>
          <%= @blog.user.full_name %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @blog.description %>
        </p>

        <h4>Posts for <%= @blog.title %></h4>

        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Body</th>
              <th>Comments</th>
              <th>Date</th>
            </tr>
          </thead>

          <tbody>
            <% @blog.posts.each do |post| %>
              <tr>
                <td><%= link_to( "#{post.title}", post ) %></td>
                <td><%= link_to( "#{post.body}", post ) %></td>
                <td><%= link_to( "#{post.comments.count}", post )%></td>
                <td><%= link_to( "#{post.created_at}", post ) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>



      <%= link_to 'Back', blogs_path, class: "waves-effect waves-light btn light-green accent-4" %>
      <%= link_to 'New Post', new_post_path(:blog_id => @blog, :user_id => @blog), class: "waves-effect waves-light btn light-green accent-4" if @blog.user_id == @current_user.id %>
      <%= link_to 'Edit Blog', edit_blog_path(@blog.id), class: "waves-effect waves-light btn light-green accent-4" if @blog.user_id == @current_user.id %>
      <%= link_to 'Delete Blog', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn light-green accent-4" if @blog.user_id == @current_user.id %>
    </div>
  </div>
</div>
