
  <br /><br />
  <div class='container'>
    <div class='row'>
      <div class='m12 m4 l4'>
        <div class="card">
          <h1 class="center "><%= @blog.title %></h1>
          <h5 class="center decent-margin-top pacifico-font">
            <%= @blog.description %>
          </h5>

          <p class="center pacifico-font">
            <%= link_to "#{@blog.user.full_name}", @blog.user unless @blog.user == @current_user%>
          </p>
          <br />
        </div>
        <br />

        <% unless @blog.posts.empty? %>
          <% @blog.posts.each do |post| %>
            <div class="z-depth-1 vert-center">
              <ul class="collection">
                <li class="collection-item">
                  <h4><%= link_to( "#{post.title}", post ) %></h4>
                  <p><%= link_to( "#{post.created_at.strftime("%B %e, %Y")}", post ) %></p><br/>
                  <p><%= link_to( "#{truncate(post.body, length: 350)}", post ) %></p>
                  <br />
                </li>
              </ul>
            </div>
            <br />
          <% end %>
        <% end %>

        <div class="card center">
          <br />
          <%= link_to 'Back', blogs_path, class: "waves-effect waves-light btn light-green accent-4 side-margin-left left little-margin-top" %>
          <%= link_to 'New Post', new_post_path(:blog_id => @blog, :user_id => @blog), class: "waves-effect waves-light btn light-green accent-4 side-margin-left left little-margin-top" if @blog.user_id == @current_user.id %>
          <%= link_to 'Delete Blog', @blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn deep-orange accent-3 side-margin-right right little-margin-top" if @blog.user_id == @current_user.id %>
          <%= link_to 'Edit Blog', edit_blog_path(@blog.id), class: "waves-effect waves-light btn light-green accent-4 side-margin-left left little-margin-top" if @blog.user_id == @current_user.id %>
          <br /><br /><br />
        </div>
      </div>
    </div>
  </div>

