<div class='container'>
  <div class='row'>
    <div class='m12'>

      <div>
        <h5>
          On the post, "<%= "#{@comment.post.title}" %>" in the blog, "<%= "#{@comment.blog.title}" %>" by <%= "#{@comment.blog.user.full_name}"%>, <%= @comment.user.full_name %> said, "<%="#{ @comment.body }"%>"
        </h5>
      </div>

      <%= link_to 'Edit', edit_comment_path(:user_id => @comment.user, :blog_id => @comment.blog, :post_id => @comment.post), class: "waves-effect waves-light btn light-green accent-4" if @comment.user_id == @current_user.id %>
      <%= link_to 'Back', @comment.post, class: "waves-effect waves-light btn light-green accent-4" %>
      <%= link_to 'Delete Comment', @comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn light-green accent-4" if @comment.user_id == @current_user.id %>
    </div>
  </div>
</div>
