<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :friend_requester %><br>
    <%= f.number_field :friend_requester %>
  </div>
  <div class="field">
    <%= f.label :friend_accepter %><br>
    <%= f.number_field :friend_accepter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />
