<p id="notice"><%= notice %></p>

<p>
  <strong>Friend requester:</strong>
  <%= @friend.friend_requester %>
</p>

<p>
  <strong>Friend accepter:</strong>
  <%= @friend.friend_accepter %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend), class: "waves-effect waves-light btn light-green accent-4" %>
<%= link_to 'Back', :back, class: "waves-effect waves-light btn light-green accent-4" %>
