<p id="notice"><%= notice %></p>

<p>
  <strong>Friend id one:</strong>
  <%= @conversation.friend_id_one %>
</p>

<p>
  <strong>Friend id two:</strong>
  <%= @conversation.friend_id_two %>
</p>

<p>
  <strong>Title:</strong>
  <%= @conversation.title %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
