<div class='container'>
  <div class='row'>
    <div class='m12'>
      <h1><%= @conversation.title %></h1>

      <div class="#ffffff white scroll">
        <table>

          <tbody>
            <% @conversation.messages.each do |message| %>
              <tr>
                <td><%= message.user.name %> said: </td>
                <td><%= message.body %></td>
                <td><%= message.created_at %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <%= link_to 'Edit', edit_conversation_path(@conversation) %>
      <%= link_to 'Back', :back, class: "waves-effect waves-light btn light-green accent-4"  %>
    </div>
  </div>
</div>
