<h1>Home</h1>

<table>
  <thead>
    <tr>
      <th>Blogs</th>
      <th>User</th>
      <th>Description</th>
      <th>Number of Posts</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.blogs.each do |blog| %>
      <tr>
        <td><%= link_to( "#{blog.title}", blog ) %></td>
        <td><%= link_to( "#{blog.user.full_name}", blog.user ) %></td>
        <td><%= link_to( "#{blog.description}", blog ) %></td>
        <td><%= "#{blog.posts.count}" %></td>
        <td><%= link_to 'Show', blog %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Users</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if @current_user.id != user.id %>
        <tr>
          <td><%= link_to( "#{user.full_name}", user ) %></td>
          <td><%= link_to 'Add Friend', new_friendship_path(:friend_id => user) if
      @current_user.friendships.where(:friend_id => user.id).where(:user_id => @current_user.id).empty? %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

