<h1>Home</h1>

<h3>Blogs</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Posts</th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.blogs.each do |blog| %>
      <tr>
        <td><%= link_to( "#{blog.title}", blog ) %></td>
        <td><%= link_to( "#{blog.description}", blog ) %></td>
        <td><%= link_to "#{blog.posts.count}", blog %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Photo Albums</h3>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Photos</th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.albums.each do |album| %>
      <tr>
        <td><%= link_to "#{album.title}", album %></td>
        <td><%= link_to "#{album.description}", album%></td>
        <td><%= link_to "#{album.photos.count}", album %></td>
      </tr>
    <% end %>
  </tbody>
</table>
