
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% unless @user.age.blank? || @user.age.nil? %>
  <p>
    <strong>Age:</strong>
    <%= @user.age %>
  </p>
<% end %>

<% unless @user.city.blank? || @user.city.nil? %>
  <p>
    <strong>City:</strong>
    <%= @user.city %>
  </p>
<% end %>

<% unless @user.state.blank? || @user.state.nil? %>
  <p>
    <strong>State:</strong>
    <%= @user.state %>
  </p>
<% end %>

<% unless @user.twitter.blank? || @user.twitter.nil? %>
  <p>
    <strong>Twitter:</strong>
    <%= @user.twitter %>
  </p>
<% end %>

<% unless @user.github.blank? || @user.github.nil? %>
  <p>
    <strong>Github:</strong>
    <%= @user.github %>
  </p>
<% end %>

<% unless @user.linkedin.blank? || @user.linkedin.nil? %>
  <p>
    <strong>Linkedin:</strong>
    <%= @user.linkedin %>
  </p>
<% end %>

<% unless @user.phone_number.blank? || @user.phone_number.nil? %>
  <p>
    <strong>Phone number:</strong>
    <%= @user.phone_number %>
  </p>
<% end %>

<% unless @user.birthday.blank? || @user.birthday.nil? %>
  <p>
    <strong>Birthday:</strong>
    <%= @user.birthday %>
  </p>
<% end %>

<% unless @user.soundcloud.blank? || @user.soundcloud.nil? %>
  <p>
    <strong>Soundcloud:</strong>
    <%= @user.soundcloud %>
  </p>
<% end %>

<% unless @user.facebook.blank? || @user.facebook.nil? %>
  <p>
    <strong>Facebook:</strong>
    <%= @user.facebook %>
  </p>
<% end %>

<h2>Pending Friend Requests</h2>
<ul>
  <% @user.friendships.each do |friendship| %>
    <li>
      <%= friendship.friend.full_name %>(<%= link_to "Cancel", friendship, method: :DELETE %>)<p>Params: <%= friendship.inspect %></p>
    </li>
  <% end %>
</ul>

<h2>Added by Users</h2>
<ul>
  <% @user.inverse_friendships.each do |inverse_friendship| %>
    <li>
      <%= inverse_friendship.user.full_name %>(<%= link_to "Deny" %>)<p>Params:<%= inverse_friendship.inspect %></p>
    </li>
  <% end %>
</ul>

<%= link_to 'Back', users_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
