<div class='container'>
  <div class='row'>
    <div class='m12'>
    <br />
      <p>
        <%= image_tag @user.image.url(:medium) unless @user.image.url(:medium) == "/images/medium/missing.png" %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <% unless @user.age.blank? || @user.age.nil? %>
        <p>
          <strong>Age:</strong>
          <%= @user.age %>
        </p>
      <% end %>

      <% unless @user.city.blank? || @user.city.nil? %>
        <p>
          <strong>City:</strong>
          <%= @user.city %>
        </p>
      <% end %>

      <% unless @user.state.blank? || @user.state.nil? %>
        <p>
          <strong>State:</strong>
          <%= @user.state %>
        </p>
      <% end %>

      <% unless @user.twitter.blank? || @user.twitter.nil? %>
        <p>
          <strong>Twitter:</strong>
          <%= @user.twitter %>
        </p>
      <% end %>

      <% unless @user.github.blank? || @user.github.nil? %>
        <p>
          <strong>Github:</strong>
          <%= @user.github %>
        </p>
      <% end %>

      <% unless @user.linkedin.blank? || @user.linkedin.nil? %>
        <p>
          <strong>Linkedin:</strong>
          <%= @user.linkedin %>
        </p>
      <% end %>

      <% unless @user.phone_number.blank? || @user.phone_number.nil? %>
        <p>
          <strong>Phone number:</strong>
          <%= @user.phone_number %>
        </p>
      <% end %>

      <% unless @user.birthday.blank? || @user.birthday.nil? %>
        <p>
          <strong>Birthday:</strong>
          <%= @user.birthday %>
        </p>
      <% end %>

      <% unless @user.soundcloud.blank? || @user.soundcloud.nil? %>
        <p>
          <strong>Soundcloud:</strong>
          <%= @user.soundcloud %>
        </p>
      <% end %>

      <% unless @user.facebook.blank? || @user.facebook.nil? %>
        <p>
          <strong>Facebook:</strong>
          <%= @user.facebook %>
        </p>
      <% end %>

      <%= link_to 'Back', :back, class: "waves-effect waves-light btn light-green accent-4" %>
      <%= link_to 'Edit', edit_user_path(@user), class: "waves-effect waves-light btn light-green accent-4" if @current_user == @user %>
      <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn light-green accent-4" if @current_user == @user %>
    </div>
  </div>
</div>
