<div class="container about">
  <br />
  <div class="row">
    <div class="col s12 m4 l4">
      <div class="card">
        <div class="card-content center">
          <%= image_tag @user.image.url(:thumb), class: "circle" unless @user.image.url(:medium) == "/images/medium/missing.png" %>
        </div>
        <div class="card-action">
        <p class="bigger center-text"><%= @user.full_name %></p>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card center">
        <% unless @user.albums.empty? %>
        <h5>Photos</h5>
          <% @user.albums.each do |album| %>
              <hr>
              <h5 class="pacifico-font"><%= link_to "#{album.title}", album %></h5>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card center">
        <% unless @user.blogs.empty? %>
          <h5>Blogs</h5>
            <% @user.blogs.each do |blog| %>
              <hr>
              <h5 class="pacifico-font"><%= link_to( "#{blog.title}", blog ) %></h5>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='m12 m4 l4'>
    <br />

      <div class="card big-padding">

        <p>
          <strong>Email:</strong>
          <%= @user.email %>
        </p>

        <% unless @user.age.blank? || @user.age.nil? %>
          <p>
            <strong>Age:</strong>
            <%= @user.age %>
          </p>
        <% end %>

        <% unless @user.city.blank? || @user.city.nil? %>
          <p>
            <strong>City:</strong>
            <%= @user.city %>
          </p>
        <% end %>

        <% unless @user.state.blank? || @user.state.nil? %>
          <p>
            <strong>State:</strong>
            <%= @user.state %>
          </p>
        <% end %>

        <% unless @user.twitter.blank? || @user.twitter.nil? %>
          <p>
            <strong>Twitter:</strong>
            <%= @user.twitter %>
          </p>
        <% end %>

        <% unless @user.github.blank? || @user.github.nil? %>
          <p>
            <strong>Github:</strong>
            <%= @user.github %>
          </p>
        <% end %>

        <% unless @user.linkedin.blank? || @user.linkedin.nil? %>
          <p>
            <strong>Linkedin:</strong>
            <%= @user.linkedin %>
          </p>
        <% end %>

        <% unless @user.phone_number.blank? || @user.phone_number.nil? %>
          <p>
            <strong>Phone number:</strong>
            <%= @user.phone_number %>
          </p>
        <% end %>

        <% unless @user.birthday.blank? || @user.birthday.nil? %>
          <p>
            <strong>Birthday:</strong>
            <%= @user.birthday.strftime("%B %e, %Y") %>
          </p>
        <% end %>

        <% unless @user.soundcloud.blank? || @user.soundcloud.nil? %>
          <p>
            <strong>Soundcloud:</strong>
            <%= @user.soundcloud %>
          </p>
        <% end %>

        <% unless @user.facebook.blank? || @user.facebook.nil? %>
          <p>
            <strong>Facebook:</strong>
            <%= @user.facebook %>
          </p>
        <% end %>
      </div>

      <div class="card big-padding">
        <div class="row">
          <div class="col s12 m2 l2">
            <%= link_to 'Back', :back, class: "waves-effect waves-light btn light-green accent-4  left little-margin-top side-margin-left" %>
          </div>
          <div class="col s12 m2 l2">
            <%= link_to 'Edit', edit_user_path(@user), class: "waves-effect waves-light btn light-green accent-4 left little-margin-top side-margin-left" if @current_user == @user %>
          </div>
          <div class="col s12 m1 offset-m5 l1 offset-l5">
            <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn deep-orange accent-3 big-margin-right left little-margin-top side-margin-left side-margin-right" if @current_user == @user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
