<div class='container'>
  <div class='row'>
    <div class='m12'>
      <h1>Timelines</h1>
      <% @friends.each do |friend| %>
        <% unless friend.events.empty? %>
        <h3><%= friend.friend_not_user(@current) %></h3>
        <p><%= link_to "Create New Event", new_event_path(:friend_id => friend.id), class: "waves-effect waves-light btn light-green accent-4" %></p>
          <table>
            <thead>
              <tr>
                <th>Occasion</th>
                <th>Description</th>
                <th>Dateof</th>
                <th>Milestone</th>
                <th>Friend</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% friend.events.each do |event| %>
                <tr>
                  <td><%= event.occasion %></td>
                  <td><%= event.description %></td>
                  <td><%= event.dateof %></td>
                  <td><%= event.milestone %></td>
                  <td><%= event.friend.friend_not_user(@current_user) %></td>
                  <td><%= link_to 'Show', event %></td>
                  <td><%= link_to 'Edit', edit_event_path(event) %></td>
                  <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br />
        <% end %>
      <% end %>
      <% @friends.each do |friend| %>
        <% if friend.events.empty? %>
          <h3>You don't have any events with <%= "#{friend.friend_not_user(@current_user)}"%></h3>
          <p><%= link_to "Create New Event", new_event_path(:friend_id => friend.id), class: "waves-effect waves-light btn light-green accent-4" %></p>
          <% end %>
        <% end %>
      <br>

    </div>
  </div>
</div>
