<div class='container'>
  <div class='row'>
    <div class='m12 m4 l4'>
      <h1 class="grey-text text-lighten-5 blogs center">Timelines</h1>
      <hr class="grey-text text-lighten-5">
      <br />
      <% @friends.each do |friend| %>
        <% unless friend.events.empty? %>
          <div class="card big-padding">
            <h3 class="little-margin-top blue-text"><%= link_to "#{friend.friend_not_user(@current_user)}", friend.other_user(@current_user) %></h3>
          </div>

          <% friend.events.each do |event| %>
            <div class="card big-padding">
              <h4><%= event.dateof.strftime("%B %e, %Y") %></h4>
              <h5><%= event.occasion %></h5>
              <p class="decent-margin-bottom"><%= event.description %></p>
              <div class="row">
                <div class="col s12 m3 l2">
                  <%= link_to "Create Event", new_event_path(:friend_id => friend.id), class: "waves-effect waves-light btn light-green accent-4 decent-margin-left left little-margin-top big-margin-right" %>
                </div>
                <div class="col s12 m3 l2">
                  <%= link_to 'Show', event, class: "waves-effect waves-light btn light-green accent-4 decent-margin-left left little-margin-top" %>
                </div>
                <div class="col s12 m1 l2">
                  <%= link_to 'Edit', edit_event_path(event, :friend_id => event.friend_id), class: "waves-effect waves-light btn light-green accent-4 decent-margin-left left little-margin-top" %>
                </div>
                <div class="col s12 m3 offset-m2 l3 offset-l3">
                  <%= link_to 'Delete Event', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn deep-orange accent-3 big-margin-right left little-margin-top decent-margin-left" %>
                </div>
              </div>
            </div>
          <% end %>

          <br />
        <% end %>
      <% end %>
      <% @friends.each do |friend| %>
        <% if friend.events.empty? %>
          <div class="card big-padding">
            <h4 class="little-margin-top blue-text">You don't have any events with <%= "#{friend.friend_not_user(@current_user)}"%> yet...</h4>
            <p><%= link_to "Create An Event!", new_event_path(:friend_id => friend.id), class: "waves-effect waves-light btn light-green accent-4" %></p>
          </div>
          <br />
        <% end %>
      <% end %>
      <br>

    </div>
  </div>
</div>
