<div class='container'>
  <div class='row'>
    <div class='m12'>
      <p>
        <strong>User:</strong>
        <%= @request.user_id %>
      </p>

      <p>
        <strong>Requested friend:</strong>
        <%= @request.requested_friend_id %>
      </p>

      <p>
        <strong>Are friends:</strong>
        <%= @request.are_friends %>
      </p>

      <p>
        <strong>Did confirm:</strong>
        <%= @request.did_confirm %>
      </p>

      <%= link_to 'Edit', edit_request_path(@request), class: "waves-effect waves-light btn light-green accent-4" %>
      <%= link_to 'Back', :back, class: "waves-effect waves-light btn light-green accent-4" %>
    </div>
  </div>
</div>
