<div class='container'>
  <div class='row'>
    <div class='m12'>
      <h1>Albums</h1>

        <% if @current_user.albums.empty? %>
          <div>
            <h4>You appear to not have an album or uploaded any photos yet</h4>
          </div>
        <% end %>

        <% if !@current_user.albums.empty? || !@current_user.users_friends_albums.empty? %>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>User</th>
              <th>Description</th>
            </tr>
          </thead>
        <% end %>
          <tbody>
          <% unless @current_user.albums.empty? %>
            <% @current_user.albums.each do |album| %>
              <tr>
                <td><%= link_to( "#{album.title}", album ) %></td>
                <td><%= link_to( "#{album.user.full_name}", album.user ) %></td>
                <td><%= link_to( "#{album.description}", album ) %></td>
              </tr>
            <% end %>
          <% end %>
            <% @current_user.users_friends_albums.each do |album| %>
              <tr>
                <td><%= link_to( "#{album.title}", album ) %></td>
                <td><%= link_to( "#{album.user.full_name}", album.user ) %></td>
                <td><%= link_to( "#{album.description}", album ) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <br>

      <%= link_to 'New Album', new_album_path, class: "waves-effect waves-light btn light-green accent-4" %>
    </div>
  </div>
</div>
