<div class='container'>
  <div class='row'>
    <div class='m12 m4 l4'>
      <h1 class="grey-text text-lighten-5 blogs center"><%= @album.title %></h1>
      <hr class="grey-text text-lighten-5">
      <h4 class="grey-text text-lighten-5 blogs center pacifico-font"><%= @album.description %></h4>
      <%= link_to @album, class: "center" do %>
        <div class="card row big-padding-left">
          <% @album.photos.each do |photo| %>
            <%= link_to photo do %>
              <div class="col s2 big-margin"><%= image_tag photo.image.url(:thumb), class: "circle"%>
              </div>
            <% end %>
          <% end %>
        </div>
        <br />
      <% end %>

      <div class="card">
        <br />
        <div class="row">
          <div class="col s12 m3 l3">
            <%= link_to 'Back to Albums', albums_path, class: "waves-effect waves-light btn light-green accent-4 side-margin-left left little-margin-top" %>
          </div>
          <div class="col s12 m3 l3">
            <%= link_to 'Add New Photo', new_photo_path(:album_id => @album.id, :user_id => @album.user_id), class: "waves-effect waves-light btn light-green accent-4 big-margin-left left little-margin-top" if @album.user_id == @current_user.id %>
          </div>
          <div class="col s12 m3 l3">
            <%= link_to 'Edit Album', edit_album_path(@album), class: "waves-effect waves-light btn light-green accent-4 side-margin-left left little-margin-top" if @album.user_id == @current_user.id %>
          </div>
          <div class="col s12 m3 l3">
            <%= link_to 'Delete Album', @album, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn deep-orange accent-3 big-margin-right big-margin-left left little-margin-top" if @album.user_id == @current_user.id %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

