<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @album.description %>
</p>

<% unless @current_user == @album.user %>
  <p>
    <strong>User:</strong>
    <%= @album.user.full_name %>
  </p>
<% end %>

<h4>Photos</h4>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Location</th>
      <th>Photo</th>
      <th>User</th>
      <th colspan="3">Date</th>
    </tr>
  </thead>

  <tbody>
    <% @album.photos.each do |photo| %>
      <tr>
        <td><%= link_to "#{photo.description}", photo %></td>
        <td><%= link_to "#{photo.location}", photo unless photo.location.blank? || photo.location.nil? %></td>
        <td>
        <%= link_to photo do %>
          <%= image_tag photo.image.url(:thumb) unless photo.image.url(:thumb) == "/images/thumb/missing.png" %>
        <% end %>
        </td>
        <td><%= link_to "#{photo.user.full_name}", photo.user %></td>
        <td><%= link_to "#{photo.created_at}", photo %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit Album', edit_album_path(@album), class: "waves-effect waves-light btn light-green accent-4" %>
<%= link_to 'Add New Photo', new_photo_path(:album_id => @album, :user_id => @album), class: "waves-effect waves-light btn light-green accent-4" %>
<%= link_to 'Back', :back, class: "waves-effect waves-light btn light-green accent-4" %>
<%= link_to 'Delete Album', @album, method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn light-green accent-4" if @album.user_id == @current_user.id %>



