<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Location</th>
      <th>Photo</th>
      <th>Album</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= link_to "#{photo.description}", photo %></td>
        <td><%= photo.location %></td>
        <td>
        <%= link_to photo do %>
          <%= image_tag photo.image.url(:thumb) unless photo.image.url(:thumb) == "/images/thumb/missing.png" %>
        <% end %>
        </td>
        <td><%= link_to "#{photo.album.title}", photo.album %></td>
        <td><%= link_to "#{photo.user.full_name}", photo.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path, class: "waves-effect waves-light btn light-green accent-4" %>
