<!DOCTYPE html>
<html>
<head>
  <title>Isles</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_logged_in? %>
    <nav>
      <div class="nav-wrapper">
        <a href="/home" class="brand-logo">Isles</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
          <li><%= link_to("Profile", user_path(@current_user) ) %></li>
          <li><a href="#">Friends</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blogs">Blog</a></li>
          <li><%= link_to("Logout", logout_path, method: :DELETE) %></li>
        </ul>
      </div>
    </nav>
  <% else %>
    <nav class="">
      <div class="nav-wrapper">
        <a href="/home" class="brand-logo">Isles</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/about">About</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Sign Up</a></li>
        </ul>
      </div>
    </nav>
  <% end %>
  <main>

    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>


    <div class='container'>
      <div class='row'>
        <div class='m12'>
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <%= params.inspect if Rails.env.development? %>
      <%= @current_user.inspect if Rails.env.development? %>
    </footer>
  </main>
  <%= javascript_include_tag 'application' %>
</body>
</html>
