<!DOCTYPE html>
<html>
<head>
  <title>Isles</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <% if user_logged_in? %>
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/friends">All</a></li>
      <li><a href="/events">Timelines</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a href="/friends">All</a></li>
      <li><a href="/events">Timelines</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper">
        <a href="/home" class="brand-logo">Isles</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">reorder</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/home">Home</a></li>
          <li><a class="dropdown-button" href="#" data-activates="dropdown1">Friends</a></li>
          <li><a href="/conversations">Conversations</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/albums">Albums</a></li>
          <li><%= link_to("Profile Settings", user_path(@current_user) ) %></li>
          <li><%= link_to("Logout", logout_path, method: :DELETE) %></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/home">Home</a></li>
          <li><a class="dropdown-button" href="#" data-activates="dropdown2">Friends</a></li>
          <li><a href="/conversations">Conversations</a></li>
          <li><a href="/blogs">Blogs</a></li>
          <li><a href="/albums">Albums</a></li>
          <li><%= link_to("Profile Settings", user_path(@current_user) ) %></li>
          <li><%= link_to("Logout", logout_path, method: :DELETE) %></li>
        </ul>
      </div>
    </nav>
  <% else %>
    <nav class="">
      <div class="nav-wrapper">
        <a href="/about" class="brand-logo">Isles</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">reorder</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/about">About</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Sign Up</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/about">About</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/users/new">Sign Up</a></li>
        </ul>
      </div>
    </nav>
  <% end %>
  <main>
    <% if notice || alert %>
      <script>
        $(document).ready(function () {
          Materialize.toast("<%= notice || alert %>", 4000);
        });
      </script>
    <% end %>
    <%= yield %>
    <footer>
      <%= params.inspect if Rails.env.development? %>
      <%= @current_user.inspect if Rails.env.development? %>
    </footer>
  </main>
</body>
</html>
